body{
    background-color: #aab19a;
    background-image: url("/assets/images/green_cup.png");
    font-family: calibri,sans-serif;
    height: 100%;
    margin:0;
    padding: 0;    
}
footer{
    background-color:black;
    border-top: solid 2px #80ff80;
    color:grey;
    font-family: "Lucinda Sans",sans-serif;
    font-size:25px;
    margin:0;
    text-align: center;
    width:100%;
    position: fixed;
    bottom: 0;   
}
footer li{
    display:inline-block;
}
footer ul, h5{
    margin:3px;
}
input{
    padding:5px;
}
header{
    background-color:black;
    background: linear-gradient(black 87%,#80ff80);
    font-family: "Lucinda Sans",sans-serif;
    font-size:25px;
    margin:0;
    text-align: center;
}
h1{
    color:gray;
    margin:0;
    margin-bottom:10px;
    padding: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="radio"] {
    vertical-align: middle;
}
ul label{
    display: block;
    font-weight: bold;
}
.container{
    background-color:white;
    border-radius:6px;
    margin:auto;
    padding: 10px;
    width:60%;    
}
.container li{
    margin-bottom:8px;
}
.container ul{
    display:inline-block;
    list-style-type: none;
    min-width:200px;
    max-width: 225px;   
}
.currency{
    text-align: right;    
}
#options-div{
    border: solid 1px grey;
    display: inline-block;
    float:right;
    max-width: 200px;  
}
#options-div label{
    display: inline;    
}