body{
    background-color: #aab19a;
    background-image: url("/assets/images/green_cup.png");
    font-family: calibri,sans-serif;
    height: 100%;
    margin:0;
    padding: 0;    
}
footer{
    background-color:#343A40;
    border-top: solid 2px #80ff80;
    color:#6C757D;
    font-family: "Lucinda Sans",sans-serif;
    font-size:25px;
    margin:0;
    text-align: center;
    width:100%;
    position: fixed;
    bottom: 0;   
}
footer li{
    display:inline-block;
}
footer ul{
    display:block;    
    margin:auto;
    width:100%;
}
footer h5{
    margin:3px;
}
header{
    background-color:#343A40;
    background: linear-gradient(#343A40 87%,#80ff80);
    font-family: "Lucinda Sans",sans-serif;
    font-size:25px;
    margin:0;
    text-align: center;
}
header h1{
    color:#6C757D;;
}
h1{    
    font-size: 45px;
    margin:0;
    margin-bottom:10px;
    padding: 20px;
}
input{
    padding:5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="radio"] {
    vertical-align: middle;
}
ul{
    display:inline-block;
    list-style-type: none; 
    margin:0px;
    width:100%;
    padding:0px;        
}
ul label{
    display: block;
    font-weight: bold;
}
.container{
    background-color:white;
    border-radius:6px;   
    box-shadow: 10px 10px #929b7d;    
    margin:auto;
    min-width: 230px; 
    padding: 10px;    
    text-align: justify;
    text-justify: distribute-all-lines;
    width:60%;       
}
.container div{
    display: inline-block;
    margin:10px;
    max-width: 200px;
    min-width: 175px;
    padding: 15px;
    vertical-align: top;   
}
.container li{
    margin-bottom:8px;
}
.container h4{
    margin:2px;
    margin-bottom:10px;
}
.currency{
    text-align: right;    
}
.display_none{
    display: none;
}
.dollar:before {
    content: '$';
}
.stretch {
    display: inline-block;
    font-size: 0;
    line-height: 0;   
    width: 100%;   
}
#footer-link-div{
    color:#6C757D;
}
#footer-link-div a{
    color:#6C757D;
    font-size:20px;
    margin:8px;
    text-decoration: none;
}
#joke-div{
    border: solid 1px #d9d9d9;
    border-radius: 6px;
    box-shadow: 5px 5px #abb3ba;
    margin:0px;
    padding:8px;
    padding-bottom: 15px;
    padding-top:15px;    
}
#options-div{
    border: solid 1px #d9d9d9;
    border-radius:6px;
    height:125px;
    max-width: 200px;  
}
#options-div label{
    display: inline;   
    font-weight: normal;     
}
#totals-div h1{
    padding-left:0px;
    padding-top:3px;
    text-align: right;
}
#totals-div h2{
    padding-left:0px;
    padding-right:20px;
    padding-top:3px;
    text-align: right;
}
#totals-div h3{
    margin:0px;
}
@media screen and (max-width:376px){
    footer h5{
        font-size:18px;
    }
    .container{
        
        width:70%;        
        margin-bottom: 100px;        
    }
    
    
}
@media screen and (max-width:668px) and (orientation:landscape){
    .container{
        width:75%;        
        margin-bottom: 100px;        
    }
    
    
}